body {
  background-color: black;
  margin: 0;
  max-width: 100%;
  min-height: 100vh; /* Asegura que el fondo cubra toda la ventana */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: grey;
  font-family: tboi;

}
footer {
  height: 50px;
  width: 45%;
  border-radius: 15px;
  background-color: black;
  font-family: 'tboi', sans-serif;
  color: grey;
  border: thick white solid;
  justify-content: center;
  align-items: center;
}
ul {
  list-style-type: none;
  padding: 0px;
  text-align: center;
}
li {
  float: left;
  width: 50vh;
}
p {
  font-size: 25px;
  text-align: center;
}
figure {
  border: thick black solid;
  border-width: 10px;
  display: block;
  padding: 10px;
  max-width: 100%;
  
  border-radius: 50px;
  background-color: black;
}
img {
  border-radius: 50px;
  width: 100%;
  height: auto;
}
figcaption {
  background-color: grey;
  color: black;
  font-family: 'tboi';
  padding: 20px;
  text-align: center;
  border-radius: 50px;
  font-size: 25px;
}
/* Clases */
.titulo, .subtitulo {
  color: white;
  text-align: center;
  font-size: 95px;
  background-attachment: fixed;
  border-radius: 8px;
  width: 100%;
}
.subtitulo {
  font-size: 75px;
}
.foto1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.sobremi {
  font-family: 'tboi', sans-serif;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
.fondo {
  background-image: url('https://www.bhmpics.com/downloads/binding-of-isaac-wallpaper/46.the_binding_of_isaac_wallpaper_negative__by_jeffyhyena_da8zi9a-fullview.jpg');
  background-size: 100vh;
  background-attachment: fixed;
  background-image: cross-fade(url('https://www.bhmpics.com/downloads/binding-of-isaac-wallpaper/46.the_binding_of_isaac_wallpaper_negative__by_jeffyhyena_da8zi9a-fullview.jpg'), url('https://www.bhmpics.com/downloads/binding-of-isaac-wallpaper/46.the_binding_of_isaac_wallpaper_negative__by_jeffyhyena_da8zi9a-fullview.jpg'), 10%);
}
/* Fuente Tboi*/
@font-face {
  font-family: 'tboi';
  src: url('../fonts/upheavtt.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
/* Animacion Glitch*/
.glitch {
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
               -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
               0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 2.5s infinite;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}
.glitchv2 {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 2500ms infinite;
}
.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}
.glitch span:first-child {
  width: 100%;
  animation: glitch 0.65s infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}

.glitch span:last-child {
  width: 100%;
  animation: glitch 0.375s infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
                 -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
                 -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
                 0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
                 -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
                 0.05em 0 0 rgba(0, 255, 0, 0.75),
                 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
                 -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
                 -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}
/* Menu Navegacion */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
  font-family: 'tboi';
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
  
}
nav a {
  font-family: 'tboi';
  color: #ddd;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
  background-color: black;
  white-space: nowrap;
  margin: 0 10px;
  position: relative;
}
nav a::after {
  font-family: 'tboi';
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #fff;
  width: 0;
  transition: width 0.3s ease-in-out;
}
nav a:hover::after {
  width: 100%;
}
nav a:hover {
  color: #fff;
}
#indicator {
  display: none;
}
/* Adaptador de tamaño */
@media (max-width: 768px) {
  .titulo {
    font-size: 60px;
  }
  .subtitulo {
    font-size: 45px;
  }
  nav {
    flex-direction: column;
  }
  nav a {
    margin: 5px 0;
  }
  .sobremi {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
  }
}
@media (min-width: 769px) {
  .titulo {
    font-size: 95px;
  }
  .subtitulo {
    font-size: 75px;
  }
  nav {
    flex-direction: row;
  }
  nav a {
    margin: 0 10px;
  }
}